@page "/car"
@using Radzen.Blazor
@using Radzen
@using System.Collections
@using System.ComponentModel.DataAnnotations


<div id="sidebar">
    <a href="/Car-List">
        <div class="brand">
            <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c482.png" alt="Hyundai">
            <span>Hyundai</span>
        </div>
    </a>
    <a href="/Ford">
        <div class="brand">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Ford-Motor-Company-Logo.png/1200px-Ford-Motor-Company-Logo.png" alt="Ford">
            <span>Ford</span>
        </div>
    </a>
    <a href="/Mercedes">
        <div class="brand">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Mercedes-Logo.svg/2048px-Mercedes-Logo.svg.png" alt="Mercedes">
            <span>Mercedes</span>
        </div>
    </a>
    <a href="/Nissan">
        <div class="brand">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/23/Nissan_2020_logo.svg" alt="Nissan">
            <span>Nissan</span>
        </div>
    </a>
    <a href="/">
        <div class="BMW">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/BMW_logo_%28gray%29.svg/2048px-BMW_logo_%28gray%29.svg.png" alt="BMW">
            <span>BMW</span>
        </div>
    </a>
</div>








<style>

    #sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        background-color: #9BCDD2;
        overflow-x: hidden;
        padding-top: 20px;
    }

        #sidebar a {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 10px;
            transition: 0.3s;
        }

            #sidebar a:hover {
                background-color: #555;
            }

        #sidebar img {
            width: 80px;
            height: auto;
            margin-bottom: 10px;
            transition: 0.3s;
        }

            #sidebar img:hover {
                transform: scale(1.2);
            }


        #sidebar .brand img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
</style>


@code {
   
}
