@page "/counter"
@using Radzen.Blazor
@using Radzen

@inject NavigationManager NavigationManager

<h3>Giriş Yap</h3>

<div>
    <label>Kullanıcı Adı:</label>
    <RadzenTextBox @bind-Value="@username" class="form-control" />
</div>
<br>
<div>
    <label>Şifre:</label>
    <RadzenPassword @bind-Value="@password" class="form-control" />
</div>
<br>
<button class="btn btn-primary" @onclick="Login">Giriş Yap</button>

<p>@errorMessage</p>

@code {
    private string username;
    private string password;
    private string errorMessage = "";

    private void Login()
    {
        // Kullanıcı adı ve şifre doğrulama işlemlerini burada gerçekleştirin
        if (username == "admin" && password == "password")
        {
            // Başarılı giriş durumunda yönlendirme yapabilirsiniz
            NavigationManager.NavigateTo("/Car-List");
        }
        else
        {
            errorMessage = "Şifre hatalı.";
        }
    }
}